
<div id="competence_base">
<h2>Competence de base</h2>
  <ul>
  <% @competences.each do |comp| %>
    <% if cc=@character.get_chara_comp(comp) %>
      <li class="have">
	<%= comp.name %>
	<%= cc.bonus %>
	<span class="dropt" title="Help">?
	<span style="width:500px;"><%= comp.description %></span>
	</span>
      </li>
    <% else %>
      <li class="no_have">
	<%= comp.name %>
	<span class="dropt" title="Help">?
	<span style="width:500px;"><%= comp.description %></span>
	</span>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>

<div id="competence_adv">
<h2>Competence avancée</h2>
  <ul>
    <% @chara_adv_comp.each do |cc| %>
      <li>
	<%= cc.competence.name %>
	<%= cc.bonus %>
	<span class="dropt" title="Help">?
	<span style="width:500px;"><%= cc.competence.description %></span>
	</span>
      </li>
    <% end %>
  </ul>
</div>
