
<div id="competence_base">
<h2>Competence de base</h2>
  <ul>
  <% @competences.each do |comp| %>
    <% if cc=@character.get_chara_comp(comp) %>
      <li class="have">
	<%= comp.name %>
	<%= cc.bonus %>
	<%= link_to 'Destroy', [cc.character, cc], method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% else %>
      <li class="no_have">
	<%= comp.name %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>

<div id="competence_adv">
<h2>Competence avancée</h2>
  <ul>
    <% @chara_adv_comp.each do |cc| %>
      <li>
	<%= cc.competence.name %>
	<%= link_to 'Destroy', [cc.character, cc], method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>


<%= form_for([@character,@character.character_competences.build]) do |f| %>
  <%= f.collection_select(:competence_id, Competence.all, :id, :name ) %><br />
  <%= f.submit %>
<% end %>