<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :race %><br />
    <%= f.collection_select(:race_id, @race, :id, :name ) %>
  </div>

   <div class="field">
    <%= f.label :career %><br />
    <%= f.collection_select(:career_id, @career, :id, :name ) %>
  </div>
  
  <div id="chara_details">
    <h2>Details Personnels</h2>
    Age : <%= f.text_field :age %></br>
    Gender : <%= f.text_field :gender %></br>
    Yeux : <%= f.text_field :eye_color %></br>
    Poid : <%= f.text_field :weight %></br>
    Taille : <%= f.text_field :height %></br>
    Signe : <%= f.text_field :star_sign %></br>
    Frère/Soeurs : <%= f.text_field :number_of_sibling %></br>
    Lieu de naissance : <%= f.text_field :birthplace %></br>
    Signe distinctif : <%= f.text_field :distinguishing_marks %></br>
  </div>
  
  <table id='prof_main'>
    <tr>
      <th>CC</th>
      <th>CT</th>
      <th>F</th>
      <th>E</th>
      <th>Ag</th>
      <th>Int</th>
      <th>FM</th>
      <th>Soc</th>
    </tr>
    <tr>
      <td><%= f.text_field :base_weapon_skill %></td>
      <td><%= f.text_field :base_balistic_skill %></td>
      <td><%= f.text_field :base_strength %></td>
      <td><%= f.text_field :base_toughness %></td>
      <td><%= f.text_field :base_agility %></td>
      <td><%= f.text_field :base_intelligence %></td>
      <td><%= f.text_field :base_will_power %></td>
      <td><%= f.text_field :base_fellowship %></td>
    </tr>
  </table>

  <table id='prof_adv'>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>M</th>
      <th>BE</th>
      <th>BF</th>
      <th>M</th>
      <th>PF</th>
      <th>PF</th>
    </tr>
    <tr>
      <td><%= f.text_field :base_attacks %></td>
      <td><%= f.text_field :base_wounds %></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= f.text_field :base_mouvement %></td>
      <td><%= f.text_field :base_insanity_points %></td>
      <td><%= f.text_field :base_fate_points %></td>
    </tr>
  </table>

  
  
  
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
