<p>	
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Race:</b>
  <%= @character.race.name %>
</p>

<p>
  <b>User:</b>
  <%= @character.user.login %>
</p>

<p>
  <b>User:</b>
  <%= @character.career.name %>
</p>

<div id="chara_details">
<h2>Details Personnels</h2>
Age : <%= @character.age %></br>
Gender : <%= @character.gender %></br>
Yeux : <%= @character.eye_color %></br>
Poid : <%= @character.weight %></br>
Taille : <%= @character.height %></br>
Signe : <%= @character.star_sign %></br>
Frère/Soeurs : <%= @character.number_of_sibling %></br>
Lieu de naissance : <%= @character.birthplace %></br>
Signe distinctif : <%= @character.distinguishing_marks %></br>
</div>

<%= render 'profile' %>

<%= render 'competences_list' %>

<%= render 'talents_list' %>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
