<p>	
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Race:</b>
  <%= @character.race.name %>
</p>

<p>
  <b>User:</b>
  <%= @character.user.login %>
</p>

<%= render 'profile' %>

<%= render 'competences_list' %>

<div id='char_talent'>
<h2>Talents</h2>
<ul>
<% @char_talents.each do |t| %>
  <li>
    <%= t.name  %>
    <span class="dropt" title="Title for the pop-up">?
    <span style="width:500px;"><%= t.description %></span>
    </span>
  </li>
<% end %>
</ul>
</div>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
